
@{
    ViewBag.Title = "You dumb bro...";
}

<h2>You fucked something really bad... gg wp delete</h2>

<div class="container col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <img src="http://i31.tinypic.com/jg1n2b.gif" />
</div>

