
@{
    ViewBag.Title = "Forbidden";
}

<h2>Forbidden</h2>

<div class="container col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <p>You are trying to do forbidden things in my application >: {</p>
    <p>Dont even think about it!</p>
</div>

<div class="container col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <img src="http://www.pd4pic.com/images/admittance-entry-prohibited-forbidden-not-allowed.png"/>
</div>
