
@{
    ViewBag.Title = "Not Found";
}

<h2>Could not find what you asked...</h2>
<div class="container col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <p>I could not find what you want... Sorry for this inconvenience.</p>
</div>

<div class="container col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <img src="http://www.namoraltv.com.br/assets/images/page-not-found.png" />
</div>

