@model WebTasks.Models.ViewModels.CommentVm

<div class="panel panel-default">
    <div class="panel-heading">
        <span>@Model.Author</span>
        <span class="pull-right">@Model.PublishDate</span>
    </div>
    <div class="panel-body">
        <p>@Model.Content</p>
    </div>
</div>
