@model IEnumerable<WebTasks.Models.ViewModels.PersonVm>

@{
    ViewBag.Title = "People";
}

<h2>Find People</h2>

@using (Ajax.BeginForm("Filter", "People", new { page = 1 }, new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "to-update",
    LoadingElementId = "loader"
}))
{
    <div class="form-group">
        @Html.Label("Search for a task", htmlAttributes: new { @class = "control-label" })
        <input name="filter" class="form-control" placeholder="Type here" />
    </div>


    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Search" />
    </div>
}

@Html.Partial("Loader")

<div id="to-update">
    @Html.Partial("PeoplePartial", Model)
</div>
