/* Set padding to keep content from hitting the edges */
body {
    padding: 0;
    margin: 0;
}

.nomargin {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

#txtarea-comment {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.tb-block {
    height: 420px;
}

.jumbotron {
    padding: 10px;
}

/* loading animation */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1001;
    display: none;
}

.loader-img {
    position: fixed;
    top: 20%;
    left: calc(50% - 60px);
    opacity: 1;
    z-index: 1002;
    width: 120px;
    height: 120px;
}

/*
  sidebar
*/

navbar.navbar-inverse.sidebar {
    position: fixed;
}

/* remove outer padding */

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: grey;
}

.main .row {
    padding: 0px;
    margin: 0px;
}


/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

nav.sidebar,
.main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}


/* Add gap to nav and right windows.*/

.main {
    padding: 10px 10px 0 10px;
}


/* .....NavBar: Icon only with coloring/layout.....*/


/*small/medium side display*/
@media (max-width: 767px) {
    .main {
        font-size: 0.8em; /* for some little phones */
    }
}

@media (min-width: 768px) {
    /*Allow main to be next to Nav*/
    .main {
        position: absolute;
        width: calc(100% - 40px);
        /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }
    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main {
        margin-left: 200px;
    }
    /*Center Brand*/
    nav.sidebar.navbar.sidebar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand,
    nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    /*Center Icons*/
    nav.sidebar a {
        padding-right: 13px;
    }
    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: fixed;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse,
    nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }
    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    /*gives sidebar width/height*/
    nav.sidebar {
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px;
    }
        /*give sidebar 100% width;*/
        nav.sidebar li {
            width: 100%;
        }
        /* Move nav to full on mouse over*/
        nav.sidebar:hover {
            margin-left: 0px;
        }
    /*for hiden things when navbar hidden*/
    .forAnimate {
        opacity: 0;
    }
}


/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1100px) {
    /*Allow main to be next to Nav*/
    .main {
        width: calc(100% - 200px);
        /*keeps 100% minus nav size*/
        margin-left: 200px;
    }
    /*Show all nav*/
    nav.sidebar {
        margin-left: 0px;
        float: left;
    }
        /*Show hidden items on nav*/
        nav.sidebar .forAnimate {
            opacity: 1;
        }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover,
nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: orange;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}