body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

#txtarea-comment {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.tb-block {
    height: 420px;
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    opacity: 1;
    z-index: 1001;
}

.loader img {
    position: fixed;
    top: 20%;
    left: calc(50% - 60px);
    opacity: 1;
    z-index: 1002;
    width: 120px;
    height: 120px;
}
