@{
    ViewBag.Title = "About";
}
<h2>What is this all about ?</h2>

<p>This project was created for the final exam of software university <a href="https://softuni.bg/trainings/1537/csharp-mvc-frameworks-asp-net-march-2017">C# MVC Frameworks - ASP.NET</a> course</p>

<p>The src code of the application can be seen in the <a href="https://github.com/terziev-viktor/WebTasks">github repository</a> of the project</p>