@{
    ViewBag.Title = "Contact";
}
<h2>Contacts</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<p> <a href="https://softuni.bg/">Software University</a> official web page </p>
<p> <a href="https://softuni.bg/contacts">Contacts</a> with SoftUni</p>
<p> <a href="#">Facebook page</a> of WebTasks' developer</p>