@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Tasks</h1>
    <p class="lead">Web tasks is an easy to use web application for managing your tasks no matter how big or small they are!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create a new account or login to your existing one. Then create and manage your daily tasks or big projects
            with the cool UI.
        </p>
    </div>
    <div class="col-md-4">
        <h2>SoftUni</h2>
        <p>Visit the website of Software University</p>
        <p><a class="btn btn-default" href="https://softuni.bg/">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ASP.Net Course</h2>
        <p>The ASP.NET Course is a great way to learn how to make your own ASP.NET Web applications.</p>
        <p><a class="btn btn-default" href="https://softuni.bg/trainings/1537/csharp-mvc-frameworks-asp-net-march-2017">Click here &raquo;</a></p>
    </div>
</div>