@model IEnumerable<WebTasks.Models.ViewModels.ProjectVm>

@{
    ViewBag.Title = "Projects";
}

<h2>Your Projects</h2>

@using (Ajax.BeginForm("Filter", "Projects", new { page = 1 }, new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
    UpdateTargetId = "to-update",
    LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
}, new { id = "frmDailyTasks" }))
{
    <div class="form-group">
        @Html.Label("Search for a task", htmlAttributes: new { @class = "control-label" })
        <input name="filter" class="form-control" placeholder="Type here" />
    </div>


    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Search" />
    </div>
}

@Html.Partial("Loader")

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@* Table for projects with pagination *@

<div id="to-update">
    @Html.Partial("ProjectsPartial", Model)
</div>
