@model IEnumerable<WebTasks.Models.ViewModels.PersonVm>

@if (Model.Any())
{
    <div id="tb-people" class="table table-stripped">
        <table class="table">
            <tr>
                <th>
                    UserName
                </th>

                <th>
                    Daily Tasks
                </th>

                <th>
                    Projects
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DailyTasksCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectsCount)
                    </td>
                    <td>
                        @Html.ActionLink("View Profile", "Details", new { userId = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>

}
else
{
    <h3>No User Found</h3>
}