@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<img src="https://leighannayip.files.wordpress.com/2015/03/broken_robot_by_glitched9700.jpg" />

